<h2>upload-file interface</h2>

<h3>todolist</h3>
<ul>
  <li>Find out how to cache stuff <a href="https://developer.mozilla.org/en-US/docs/Web/API/Cache">cache mdn docs</a></li>
  <li>will need to check if there's enough room in the cache -> StorageManager.estimate()</li>
</ul>

<style>output {font-family: monospace;white-space: pre;}</style>

<form data-js="convert">
    <input id="inputFile" name="file" required type="file" />
    <button data-simply-command="parseFile">Submit</button>
</form>

<div id="result"></div>